requirements being implemented in this tutorial site


1)Video quality and playback options-users are able to change the quality of videos as per their convenience.
2)search bar to search for topics and contents .
3)3 levels:level-0:is a responsive page where content gets updated everyday.level-2:is tutorial videos and content and level-3:totally pratical class.
4)provides no advertisements.
5)Provide switches to go from bottom to top, links to other websites to read more and links to give info about keywords.
6)provides feedback and comments to ask doubt.
7)Provide facilities for online tests.
8)Provide attractive interface to users(use flip, dark mode etc.).
9)Create website that is compatible with most devices and browsers.
Admin should be able to add videos and content, view users, view videos and content accepted by inspector and accept payments and view payment details.
10)Inspector should be able to view contents provided by admin and make sure it is relevant and if necessary should be able to add to website and else should be able to remove those.
11)Students should be able to view courses(and demo classes) see their progress, attend tests and request for contents not available in this site. To create interest in students badges can be made given based on their progress.
12)Log sessions of course for student: It is very useful to the student if whatever the student has learned until then are recorded and shown to the user in his dashboard for this, each time the user logs in and learns something it should be recorded 
and progress of a user in his course should be shown. 
13)Provide details on what all you can do in this site(welcome note/guide).
14)Anybody can contribute contents to admin.


future plans:

1)Less data consuming: most sites require a high speed internet and  big data plans as they use up lot of internet data of the user. 
2)Should load faster, should be able to make notes or video offline.
3)Login easily using google or facebook. 
4)Live projects -we can work on sample projects, materials available in pdf, inbuilt text editors(we can use online editors without downloading software).
